<h1>Editing risk</h1>

<% form_for(@risk) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :event %><br />
    <%= @risk.event.description %>
  </p>
  <p>
    <%= f.label :goal %><br />
    <%= @risk.goal.description %>
  </p>
  <p>
    <%= f.label :risk %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @risk %> |
<%= link_to 'Back', risks_path %>